body {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

.bg-menu:hover{
    color: #bca297;
}

.footer {
    width: 100%;
    height: 10vh;
    background-color: #ab526b;
}

.footer p {
    align-items: center;
    text-align: center;
    padding-top: 10px;
    
}